# all binaries generated in the root directory when building
ALNchain
ALNplot
ALNreset
ALNshow
ALNtoPAF
ALNtoPSL
FAtoGDB
FastGA
FastKS
GDBshow
GDBstat
GDBtoFA
GIXmake
GIXshow
GIXrm
GIXcp
GIXmv
ONEalnTEST
ONEview
PAFtoALN
PAFtoPSL

# output alignment files
*.1aln